/gnupg/*.d/
/gnupg/*.db
/gnupg/*.gpg
/gnupg/*.kbx
/gnupg/*.kbx*
/ssh/*_rsa*
/ssh/id_*
/ssh/id_rsa
/ssh/known_hosts
bundle/cache
config/.mono
config/coc
config/configstore
config/gh
config/nvim/autoload
config/nvim/bundle
config/nvim/plugin
config/raycast/extensions
config/containers
config/github-copilot/hosts.json
config/nyaovim
config/wireshark
rbenv/*/
secrets
.DS_Store
